/target/
!.mvn/wrapper/maven-wrapper.jar

# Intellij #

# Stuff from .idea directory
.idea/workspace.xml
.idea/dataSources
.idea/codeStyles
.idea/libraries

# All .iml files
.iml



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#Log files
*.log

application.properties


